./venv/*
./__pycache__
./__pycache__/*
./.idea
./UrbanSound8K.tar.gz
./UrbanSound8K/*
./.pytest_cache/*
./test/*
./Data/*
./arrays/*
./dataset/*
./dataset.zip
./application/__pycache
./application/__pycache/*
./local_saves/current.wav
/test/data_format/
