./venv/*
./__pycache__
./__pycache__/*
./.idea
./UrbanSound8K.tar.gz
./UrbanSound8K/*
./.pytest_cache/*
./Data/*
./arrays/*
./dataset/*
./dataset.zip
./application/__pycache__
./application/__pycache__/*
./application/preparation_v2/__pycache__
./application/preparation_v2/__pycache__/*
./local_saves/current.wav
/test/data_format/
./SECU/*
./local_saves/*
./application/preparation_v1/__pycache__
./application/preparation_v2/__pycache__