/* Css créée par Thomas Corcoral pour la réalisation
de son site en ligne (2020). Merci de respecter
le travail derrière ce projet et de ne pas utiliser ce fichier 
sans l'accord de son auteur. */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}

img{border-width:0;border:0;padding-bottom:0}

body{background-color:#fff}

p{font-size:large;margin:100px auto}

a{
    text-decoration:none;
    color:#787c86
}

a:hover{text-decoration:underline;color:#373f55}

body>header
{
    position:relative;
    background:#140c3c;
    background-size:cover;
    background-repeat:no-repeat;
    height:500px    
}

header>img{
    margin:30px 0 0 10px;
    width: 550px;
    padding-top: 50px;
    float: right;
    margin-right: 250px;
}
@media screen and (max-width: 1450px) and (min-width: 981px){
    header>img{
        padding-top: 90px;
        width: 400px;
        margin-right: 120px;
    }
}
@media screen and (max-width: 980px) and (min-width: 0){
    header>img{
        padding-top: 90px;
        width: 400px;
        margin-right: 80px;
    }
}

header h1{position:absolute;bottom:10px;right:10px}

h1
{
    font-size:50px;
    text-align:center
}

@font-face{font-family:h2_font;src:url(../font/Raleway-VariableFont_wght.ttf)}

.titre-h2
{
    font-family: h2_font;
    color: lightgrey;
    font-size: 70px;
    padding-bottom: 20px;
    padding-top: 30px;
    letter-spacing: 5px;
    text-transform : uppercase;
}

@font-face{font-family:h3_font;src:url(../font/Quicksand-Regular.ttf)}

h3{font-family:Times,Times New Roman,serif;color:#d3d3d3;font-size:32px}

.presentation_h2{
    font-family:h2_font;
    padding-top:190px;
    color: white;
    font-size: 50px;
    float: left;
    padding-left: 160px;
}
@media screen and (max-width: 1450px) and (min-width: 981px){
    .presentation_h2{
        font-size: 36px;
        padding-left: 80px;
    }
}
@media screen and (max-width: 980px) and (min-width: 0){
    .presentation_h2{
        font-size: 24px;
        padding-left: 80px;
        padding-top:210px;
    }
}

.presentation_h3{
    position: absolute;
    font-family:h3_font;
    text-align:center;
    padding-top:30px;
    float: left;
    padding-left: 190px;
    padding-top: 300px;
    font-size: 24px;
}
@media screen and (max-width: 1450px) and (min-width: 981px){
    .presentation_h3{
        font-size: 18px;
        padding-left: 94px;
    }
}
@media screen and (max-width: 980px) and (min-width: 0){
    .presentation_h3{
        font-size: 12px;
        padding-top: 280px;
        padding-left: 90px;
    }
}


div.center{text-align:center}

div.icon{text-align:center; padding:0;}

div.icon>a>img{height:35px;width:35px;padding:10px; padding-top: 30px;box-sizing: content-box;}

.Photo-profil{margin-top:75px;width:200px;height:200px;border-radius:60%;border:8px solid #fff}

.liens_utiles{
    border: #140c3c;
    border-radius: 10px;
    border-width: medium;
    background-color: #140c3c;
    margin-bottom: 30px;
}

.liens_utiles:first-of-type{
    margin-right: 50px;
}


.liens_utiles > a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.liens_utiles > a:hover{
    color: rgb(136, 136, 136);
    transition:color .4s linear 0s;
    text-decoration: none;
}

/**********************************************************************
            Style de la partie Téléchargement cv
**********************************************************************/

.dl_cv[href]
{
    float:right;
    font-family:h2_font;
    margin-right:30px;
    margin-top:20px;
    font-size:13px;
    border:1px solid #fff;
    color:#fff;
    text-decoration:none;
    padding:7px 40px 7px 40px;
    transition:background .4s linear 0s
}

.dl_cv[href]:hover
{
    background-color:#fff;
    text-decoration:none;
    color:#2e4975;
    border:1px solid #2e4975;
    transition:color .4s linear 0s;
    cursor:pointer
}

/**********************************************************************
            Style de la partie Navigation
**********************************************************************/

nav{
    position: absolute;
    z-index:1000;
    top:0;
    width:100%;
    height:35px;
    background-color:#140c3c;
}

nav>ul>li.Nom{
    font-family:Avantgarde,TeX Gyre Adventor,URW Gothic L,sans-serif;
    font-size:21px;
    margin-right:130px;
    width:300px;
    float: left;
    padding-top: 4px;
    padding-right: 0px;
    color: white;
}
@media screen and (max-width: 1080px) and (min-width: 0){
    nav>ul>li.Nom{
        font-family:Avantgarde,TeX Gyre Adventor,URW Gothic L,sans-serif;
        font-size:18px;
        margin-right:70px;
        width:200px;
        padding-left: 30px;
    }
}

nav>ul>li{
    padding-top: 4px;
    float: right;
    padding-right: 150px;
}
@media screen and (max-width: 1080px) and (min-width: 0){
    nav>ul>li{
        padding-top: 4px;
        float: right;
        padding-right: 50px;
    }
}

nav>ul{
    width:100%;
    height:100%;
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    text-align:center;
}

nav>ul:hover{
    background-color: #140c3c;
}

nav>ul>li{
    display:inline-grid;
    width:100px;
    text-decoration:none;
    height:100%
}
@media screen and (max-width: 1080px) and (min-width: 0){
    nav>ul>li{
        width:300px;
    }
}

nav a[href]{
    text-decoration:none;
    display:block;
    color:white;
    transition:background .4s linear 0s;
    margin: auto;
}

nav a[href]:hover{
    text-decoration:none;
    color:whitesmoke;
    transition:color .4s linear 0s;
    cursor:pointer
}

nav a{
    display: block;

}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
}

nav > ul li:hover .sous {
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
}

.deroulant>a>img{
    width: 20px;
    height: 20px;
    padding-top: -2px;
}

@font-face{font-family:regular_font;src:url(../font/Assistant-Light.ttf)}

.case{
    font-family:regular_font;
    text-align:left;
    padding: 0;
    padding-left: 20px;
}

.case > p > a{
    color:#787c86;
}

.case > p > a:hover{
    color: black;
}

section{position:relative;text-align:center;font-family:h2_font;margin:80px 0 0 0;padding:0 0}

section>h3{
    position:relative;
    top:0;
    left:0;
    height:40px;
    text-decoration-line:overline;
    color:#acacac;
    font-weight:700;
    font-size:38px;
    width:auto;
    border-radius:0 10px 0 0;
    padding:30px 0;
    font-family:h3_font
}

section>div>h4{float:left;font-size:27px;margin-bottom:25px}

section>div{
    display:inline-block;
    width:210px;
    text-decoration:solid;
    vertical-align:top;
    margin:0;
    padding:10px 35px 10px 35px;
    text-decoration:none;
    color:#000;
    font-weight:700;
    text-decoration:none
}

section>div:not(:first-of-type):not(:last-of-type){margin:0 12px 0 12px}

section>div>a>img{width:250px;height:187px;margin:0 0 10px 0}

/**********************************************************************
            Style de la partie Passions
**********************************************************************/

section#passions.passions{
    position:relative;
    padding: 0 0 0 0;
    background:url(../images/Fond2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:400px;
    width:auto;
}

.passions-icons{width:75px;height:75px;background-color:#fff;border:0;border-radius:200px;padding:5px;margin:8px;transition:background .4s linear 0s}

.passions-icons:hover{background-color:#b9c2dd}

.groupe-icons{display:inline-flex;width:auto;text-align:center}

.groupe-icons>figure>figcaption{color:#fff;font-family:regular_font}

/**********************************************************************
            Style de la partie Experience
**********************************************************************/
.section-title {
    text-align:center;
}
.section-title h1 {
    margin:auto;
    text-transform:uppercase;
}
.experience {
    min-height:180px;
    background-color:#fff;
    border-radius:4px;
    width:100%;
    margin-bottom: 20px;
    display: inline-block;
}
.experience-heading {
    margin:0px;
    padding:0px;
    font-size:18px;
    letter-spacing:1px;
    color:#7491c0d3;
    padding-top:20px;
}
.experience-subheading {
    margin:0px;
    padding:0px;
    color:#adadad;
    font-size:14px;
    font-weight:300;
    margin-top:10px;
}
.experience p {
    padding:25px 0px;
    font-size:15px;
    line-height:22px;
    color:#35353c;
}
.experience-timeline {
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    position:relative;
    table-layout:fixed;
    width:100%;
}
.experience-timeline:before {
    background-color:#424242;
    bottom:0;
    content:"";
    left:50%;
    position:absolute;
    top:0;
    width:1px;
    z-index:0;
}
.section-experience {
    padding-top:80px;
    padding-bottom:20px
}
.section-experience .row.first {
    margin-top:10px;
}
.timeline-item-left {
    background-image: url(../img/exp-side-bg.jpg);
}
.timeline-marker {
    background-color:#7491c0d3;
    height:60px;
    color:#fff;
    border-radius:5px;
    text-align:center;
    margin-top:55px;
    position:relative;
}
.timeline-marker .timeline-date {
    font-size:17px;
    font-weight:400;
    letter-spacing:1;
    text-transform:uppercase;
    padding:18px;
}
.timeline-details .experience-heading {
    padding-top:0px;
    text-transform:uppercase;
}
.experience-timeline .left {
    margin-right:30px;
}
.experience-timeline .right {
    margin-left:30px;
}
.experience-timeline .timeline-divider {
    background:url("../img/timeline-divider.jpg") no-repeat;
    width:33px;
    height:59px;
    float:right;
    margin:58px -31px 0 0;
    color:#fff;
    text-align:center;
}
.experience-timeline .timeline-divider i {
    padding-top:22px;
}
.timeline-details .experience p {
    line-height:26px;
}
.fr {
    float:right;
}
.fl {
    float:left;
}
.fc {
    margin: auto;
}
.arrow-left {
    border-color:transparent #7491c0d3 transparent transparent;
    border-style:solid;
    border-width:9px;
    width:0;
    height:0;
    left:-18px;
    top:20px;
    position:absolute;
}
.arrow-right {
    border-color:transparent transparent transparent #7491c0d3;
    border-style:solid;
    border-width:9px;
    width:0;
    height:0;
    right:-18px;
    top:20px;
    position:absolute;
}
.tar {
    text-align:right;
}
p.tar {
    padding-right: 0px;
}
/**********************************************************************
            Style de la partie competences
**********************************************************************/
.competences > h2{
    padding-top: 75px;
    margin: auto;
    color: black;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: 'h2_font';
    font-size: 80px;
}

.competences>p{
    margin: inherit;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.competences-article>p{
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.8em;
    font-weight: 400;
    margin: inherit;
    width: 900px;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article>p{
        font-size: 0.8rem;
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 1.8em;
        font-weight: 400;
        margin: inherit;
        width: 800px;
    }
}

section.competences{
    background-color: #e0e0e0;
    background-size: cover;
}

.competences-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 35px;
    width: 100%;
}

.competences-article h4{
    text-align: center;
    font-size: 45px;
    font-family: 'h2_font';
    font-weight: 300;
    width: 1000px;
    padding-bottom: 40px;
}

.competences-article-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competences-article-details{
    display: flex;
    width: 125px;
    position: relative;
    padding: 0px;
    font-size: 110px;
    font-weight: 600;
    transition: all 650ms;
    text-align: center;
    transition: all 650ms 300ms;
    height: 220px;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article-details{
        height: 100px;
    }
}

.competences-article-details>img.competence-image{
    padding-top: 45px;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article-details>img.competence-image{
        padding-top: 20px;
        max-height: 70px;
        max-width: 77px;
        padding-right: 15px;
    }
}

.competences-article-details img{
    max-height: 110px;
    max-width: 140px;
    box-sizing: content-box;
    padding: 0;
    padding-top: 18px;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article-details img, .competence-image{
        max-height: 50px;
        max-width: 63px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-sizing: content-box;
    }
}

.competences-article-details::before{
    position: absolute;
    top: 50%;
    left: -80px;
    content: "";
    height: 80px;
    width: 80px;
    transform: translateY(-50%) rotate(-45deg);
    border-top: 1px solid #24242e;
    border-left: 1px solid #24242e;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article-details::before{
        right: -60px;
        height: 60px;
        width: 60px;
    }
}

.competences-article-details::after{
    transition: all 650ms 300ms;
    position: absolute;
    top: 50%;
    right: -80px;
    content: "";
    height: 80px;
    width: 80px;
    transform: translateY(-50%) rotate(45deg);
    border-top: 1px solid #24242e;
    border-right: 1px solid #24242e;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article-details::after{
        right: -60px;
        height: 60px;
        width: 60px;
    }
}

.competences-article-details.open{
    transition: all 650ms;
    width: 1000px;
    height: 220px;
}
@media screen and (max-width: 1536px) and (min-width: 0){
    .competences-article-details.open{
        width: 600px;
        height: 100px;
    }
}

.competences-article-details.open::after{
    transition: all 650ms;
    right: -30px;
}

.competences-article-details.open ul{
    display: flex;
    width: 100%;
    opacity: 1;
    transition: all 550ms;
}

.competences-article-details.open ul li{
    opacity: 1;
    transform: scale(1);
    transition: all 650ms 100ms;
}

.competences-article-details.open ul li:nth-child(2){
    transition-delay: 300ms;
}
.competences-article-details.open ul li:nth-child(3){
    transition-delay: 400ms;
}
.competences-article-details.open ul li:nth-child(4){
    transition-delay: 500ms;
}
.competences-article-details.open ul li:nth-child(5){
    transition-delay: 600ms;
}

.competences-article-details ul{
    transition: all 450ms 300ms;
    list-style: none;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.competences-article-details ul li{
    margin: 0 30px;
}

/**********************************************************************
            Style de la partie Projets
**********************************************************************/

section#projets.projets
{
    margin-top: 0px;
    padding-bottom: 0;
}

section#projets.projets > h3
{
    padding-bottom: 40px;
}

section#projets.projets > h4
{
    padding-bottom: 20px;
}

.projets > h4 > a{
    color:#787c86;
}
.projets > h4 > a:hover{
    color:black;
}

.projets-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding: inherit;
    padding-bottom: 50px;
    padding-top: 0;
}

.projet {
    display: flex;
    position: relative;
    width: 70%;
}
@media screen and (max-width: 1080px) and (min-width: 0) {
    .projet {
      flex-direction: column-reverse;
    }
  }

.projet:nth-child(odd) {
    flex-direction: row-reverse;
}
@media screen and (max-width: 1080px) and (min-width: 0) {
    .projet:nth-child(odd) {
        flex-direction: column-reverse;
    }
}

.projet-image {
    width: 100%;
    position: relative;
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projet-image img {
    width: 100%;
}

.projet-image>a:hover>img {
    box-shadow: 0px 0px 50px #7c7c7c81;
    width: 97%;
}

.projet-current {
    padding: 15px 45px 45px;
    width: 70%;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.projet-current h2 {
    font-size: 45px;
    text-align: left;
    margin: auto auto 45px;
}

.projet-tags span {
    margin-right: 15px;
    background-color: rgba(88, 88, 88, 0.144);
    padding: 5px 5px;
    border-radius: 2px;
    font-size: 12px;
}

.projet-details {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projet-details > p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: lighter;
}

.projet-details h3 {
    width: max-content;
    font-size: 50px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px #24242e solid;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.projet-details h4 {
    font-size: 30px;
    margin-bottom: 15px;
    opacity: 0.7;
}

.projet-details a {
    align-self: flex-end;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 20px;
    color:#787c86;
}
.projet-details a:hover {
    color:black;
}

.projet-ressources {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projet-ressources > p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: lighter;
}

.projet-ressources h3 {
    width: max-content;
    font-size: 25px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px #24242e solid;
    letter-spacing: 2px;
}

.projet-ressources h4 {
    font-size: 30px;
    margin-bottom: 15px;
    opacity: 0.7;
}

.projet-ressources a {
    align-self: flex-end;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 20px;
    color:#787c86;
}
.projet-ressources a:hover {
    color:black;
}


/**********************************************************************
            Style de la partie Footer
**********************************************************************/

#But
{
    display:none;
    position:fixed;
    bottom:20px;
    right:30px;
    z-index:99;
    font-size:18px;
    border:none;
    outline:0;
    background:0 0;
    cursor:pointer;
    padding:5px;
    border-radius:4px
}

#But:hover{background-color:rgba(202,202,202,.336);border-radius:200px}

footer > p
{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    text-align: center;
}

section.foot{display:flex;margin-top:0;padding-top:0}

section.foot>div>h3{font-family:regular_font;text-decoration:overline;padding:10px;font-size:40px;text-align:right;height: 40px;}

section.foot>div
{
    display:grid;
    flex:1;
    text-decoration:solid;
    vertical-align:top;
    float:right;
    margin:0;
    padding:10px 35px 10px 35px;
    text-decoration:none;
    color:#000;
    font-weight:700;
    background-color:#bbc8dd;
    min-height:200px
}

section.foot>div:first-child{float:left;background-color:#2e4975}

section.foot>div:last-of-type{text-align:center}

footer>section.foot>div:first-child>p{color:#fff;margin-right:0;text-align:left}

footer>section.foot>div:last-child>p{margin-left:0}

section.foot>div:last-child>h3{text-align:left;color:#2c2c2c}

.Pays{color:#505050;font-weight:250}

section.foot>div>p{width:380px;margin-top:25px;margin-bottom:25px;margin-right:auto}

section.foot>div>p{text-align:left}

.description{font-weight:250}

.foot-end{height:80px;margin-top:0;margin-bottom:0;display:flex}

.foot-end>div{display:grid;flex:1;text-decoration:solid;vertical-align:top;float:right;margin:0;width:200px}

.foot-end>div:first-child{display:block}.foot-end>div:last-child{display:flex}

.foot-end>div>.dl_cv{margin-right:0;width:250px;color:#000}

.foot-end>div>.dl_cv[href]
{
    float:right;
    font-family:h2_font;
    margin-right:60px;
    margin-top:20px;
    font-size:13px;
    border:1px solid #000;
    color:#000;
    text-decoration:none;
    padding:7px 40px 7px 40px;
    transition:background .4s linear 0s
}

.foot-end>div>.dl_cv[href]:hover
{
    background-color:#fff;
    text-decoration:none;
    color:#8596b1;
    border:1px solid #8596b1;
    transition:color .4s linear 0s;
    cursor:pointer
}

div.icon-end>a>img{height:35px;width:35px;padding:10px;box-sizing: content-box;}

div.icon-end>a>img.LinkedIn{margin-left:100px;box-sizing: content-box;}

/**********************************************************************
            Style de la partie Chargement
**********************************************************************/

#load {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 1001;
    opacity: 1;
    transition: opacity 650ms, z-index 650ms;
}

div#load >p{
    text-align: center;
    font-size: 50px;
    color: #2E4975;
    font-family: h2_font;
    top: 54%;
    position: relative;
}

#load.loaded {z-index: -1;opacity: 0;}

#load img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: rotateLoad;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotateLoad {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}